body {
  background-color: #27222b;
  margin: 0;
  padding: 0;
}

header {
  box-sizing: border-box;
  background-color: #484041;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.26);
}

.headerbtn {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',
    sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #70ee9c;
  text-decoration: none;
  border: none;
  padding: 15px 32px;
  margin: 0;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.dropbtn {
  background-color: Transparent;
}

.invitebtn {
  background-color: #434371;
}

.dropbtn:hover {
}

.logo {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 2px;
  /* height: 40px;
  width: 46px; */
  display: block;
}

.leftSide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dropdown {
  margin-left: 200px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  /* background-color: #79aea3; */
  /* color: #434371; */
  background-color: #434371bb;
  color: #b5f44a;
  padding: 12px 16px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-decoration: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.28);
  z-index: 5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  /* background-color: #79aea3; */
  background-color: #434371;
  color: #b5f44a;
}

.name-fields {
  display: flex;
  margin-bottom: 50px;
}

.name-fields input {
  font-size: 12px;
  border-radius: 5px;
}

.name {
  margin-right: 10px;
}

.modal-content .container .input-bar {
  display: flex;
  flex-direction: row;
}

.modal-content .container input {
  background-color: #79aea3;
  color: #434371;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px #434371 solid;
  margin-left: 10px;
  margin-bottom: 10px;
}
