.modal-content {
  background-color: #e3f0eb;
  height: 290px;
}

.modal-header {
  color: #434371;
  padding: 0.5rem 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
  top: 0;
}

.container button {
  width: 80%;
  border-radius: 5px;
  background-color: #434371;
  color: #b5f44a;
}

.container button:hover:enabled {
  opacity: 0.8;
}

.email-details {
  display: flex;
  margin: 5px;
  height: 27px;
}

.email-details button {
  margin-left: 0;
  height: 25px;
  width: 46px;
  font-size: 12px;
  background-color: #434371;
  border: 1px #434371 solid;
  color: #b5f44a;
  outline: none;
  box-shadow: none;
}

.email-details button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.email-details input {
  background-color: #79aea3;
  color: #434371;
  height: 25px;
  width: 142px;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px #434371 solid;
}

.email-details span {
  margin-right: 10px;
  font-size: 10px;
  margin-top: 5px;
}

.link-details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.info {
  margin-left: 10px;
  /* background-color: rgb(221, 221, 221); */
}

.modal-footer button {
  font-size: 13px;
  background-color: rgb(148, 30, 30);
  width: 60px;
  color: #ffffff;
  border-radius: 5px;
}

.modal-footer button:hover {
  opacity: 0.8;
}

.modal-body {
  display: flex;
  align-items: center;
}

.required-red {
  color: rgb(148, 30, 30);
}

.required-green {
  color: rgb(5, 59, 50);
}

.required-fields {
  display: flex;
}
