.chat {
  position: relative;
}

.chat button {
  position: absolute;
  right: 0;
}

.chat input {
  position: absolute;
  right: 45px;
  width: 324px;
}

.chatbox {
  height: 200px;
  width: 375px;
  background-color: rgb(235, 235, 235);
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 5px;
  /* z-index: 9999; */
}
