.chat-pop {
  position: fixed;
  bottom: 66px;
  right: 15px;
  z-index: 9;
}

.chat-window {
  position: relative;
  max-width: 200px;
  min-width: 200px;
  max-height: 240px;
  min-height: 240px;
  padding: 10px;
  background-color: rgb(124, 113, 115);
}

.text-area {
  min-height: 200px;
  max-height: 200px;
  padding: 5px 10px;
  font-size: 14px;
  color: #79aea3;
  background-color: #434371;
  overflow: auto;
  border-radius: 10px;
  letter-spacing: -1px;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
}

.chat-open-button {
  background-color: #27222b;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 38px;
  border: none;
  outline: none;
}

.chat-open-button img {
  bottom: 15px;
  right: 15px;
  width: inherit;
  height: inherit;
  z-index: 3;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}

.chat-name {
  font-style: italic;
}

.msg-input-bar {
  position: absolute;
  bottom: 4px;
}

.msg-input-bar input {
  background-color: #79aea3;
  color: #434371;
  width: 145px;
  bottom: 0;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px #434371 solid;
  letter-spacing: -1px;
  font-family: 'Courier New', Courier, monospace;
}

.msg-input-bar input::placeholder {
  font-weight: bold;
  color: rgb(97, 97, 97);
}

.msg-input-bar button {
  background-color: #434371;
  color: #b5f44a;
  height: 20px;
  margin-left: 4px;
  border-radius: 5px;
  border: 1px #434371 solid;
  font-size: 10px;
  width: 35px;
  padding: 0;
}
