.login {
  display: flex;
  justify-content: center;
}

#text {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

form {
  padding-top: 30px;
  border: 1px white solid;
  border-radius: 5px;
  width: 500px;
  text-align: center;
  height: 300px;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  width: 200px;
  height: 20px;
  border-radius: 5px;
}

.button {
  margin-top: 20px;
  height: 30px;
  width: 150px;
  box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  background: linear-gradient(to bottom, #444444 5%, #333333 100%);
  background-color: #444444;
  border-radius: 6px;
  border: 1px solid #333333;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #222222;
}

.button:hover {
  background: linear-gradient(to bottom, #333333 5%, #444444 100%);
  background-color: #333333;
}
.button:active {
  position: relative;
  top: 1px;
}

#joinBtn {
  margin-right: 8px;
}

#header {
  text-align: center;
  font-size: 7em;
  margin: 20px 0 20px 0;
  margin-top: 60px;
}

#inHeader {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

p:nth-child(1) a {
  color: #28a428;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

p:nth-child(1) a:hover {
  color: #464646;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

p a:hover {
  color: #28a428;
}
/*glow for webkit*/

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #1e7b1e, 0 0 20px #1e7b1e, 0 0 30px #1e7b1e,
      0 0 40px #464646, 0 0 70px #464646, 0 0 80px #464646, 0 0 100px #464646,
      0 0 150px #464646;
  }
  to {
    text-shadow: 0 0 5px #1e7b1e, 0 0 10px #1e7b1e, 0 0 15px #1e7b1e,
      0 0 20px #28a428, 0 0 35px #464646, 0 0 40px #464646, 0 0 50px #464646,
      0 0 75px #464646;
  }
}
/*glow for mozilla*/

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #1e7b1e, 0 0 20px #1e7b1e, 0 0 30px #28a428,
      0 0 40px #464646, 0 0 70px #464646, 0 0 80px #464646, 0 0 100px #464646,
      0 0 150px #464646;
  }
  to {
    text-shadow: 0 0 5px #1e7b1e, 0 0 10px #1e7b1e, 0 0 15px #28a428,
      0 0 20px #464646, 0 0 35px #464646, 0 0 40px #464646, 0 0 50px #464646,
      0 0 75px #464646;
  }
}

/*glow*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #1e7b1e, 0 0 20px #1e7b1e, 0 0 30px #28a428,
      0 0 40px #464646, 0 0 70px #464646, 0 0 80px #464646, 0 0 100px #464646,
      0 0 150px #464646;
  }
  to {
    text-shadow: 0 0 5px #1e7b1e, 0 0 10px #1e7b1e, 0 0 15px #28a428,
      0 0 20px #464646, 0 0 35px #464646, 0 0 40px #464646, 0 0 50px #464646,
      0 0 75px #464646;
  }
}
