#homepage-background {
  background-color: #27222b;
}
#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #70ee9c;
}
#form-container > p {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

form {
  display: inline-block;
  margin: 30px;
  background-color: #27222b;
  padding: 30px 20px;
  border: 1px white solid;
  border-radius: 5px;
  width: 500px;
  text-align: center;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

input {
  width: 200px;
  height: 20px;
  border-radius: 5px;
  color: #434371;
  font-weight: bold;
  border: 1px #434371 solid;
  background-color: #79aea3;
}

.button {
  height: 30px;
  box-shadow: inset 0px 1px 0px 0px #6662eb;
  background: linear-gradient(to bottom, #6662eb 5%, #434371 100%);
  background-color: #6662eb;
  border-radius: 6px;
  border: 1px solid #434371;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 1px 0px #434371;
}

.button:hover {
  background: linear-gradient(to bottom, #434371 5%, #6662eb 100%);
  background-color: #434371;
}
.button:active {
  position: relative;
  top: 1px;
}

#no-name {
  font-size: 10pt;
  color: #79aea3;
}

#header {
  /* text-align: center;
  font-size: 7em; */
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
  margin-top: 60px;
}

.titleImg {
  width: 600px;
  height: 110px;
}

#inHeader {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/* p:nth-child(1) a {
  color: #6662eb;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

p:nth-child(1) a:hover {
  color: #434371;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

p a:hover {
  color: #6662eb;
}
/*glow for webkit*/

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #434371, 0 0 20px #434371 0 0 30px #434371,
      0 0 40px #464646, 0 0 70px #464646, 0 0 80px #464646, 0 0 100px #464646,
      0 0 150px #464646;
  }
  to {
    text-shadow: 0 0 5px #6662eb, 0 0 10px #6662eb, 0 0 15px #6662eb,
      0 0 20px #6662eb, 0 0 35px #464646, 0 0 40px #464646, 0 0 50px #464646,
      0 0 75px #464646;
  }
}
/*glow for mozilla*/

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #434371, 0 0 20px #434371 0 0 30px #434371,
      0 0 40px #464646, 0 0 70px #464646, 0 0 80px #464646, 0 0 100px #464646,
      0 0 150px #464646;
  }
  to {
    text-shadow: 0 0 5px #6662eb, 0 0 10px #6662eb, 0 0 15px #6662eb,
      0 0 20px #6662eb, 0 0 35px #464646, 0 0 40px #464646, 0 0 50px #464646,
      0 0 75px #464646;
  }
}

/*glow*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #79aea3, 0 0 20px #79aea3, 0 0 30px #b5f44a,
      0 0 40px #464646, 0 0 70px #464646, 0 0 80px #464646, 0 0 100px #464646,
      0 0 150px #464646;
  }
  to {
    text-shadow: 0 0 5px #434371, 0 0 10px #434371, 0 0 15px #6662eb,
      0 0 20px #464646, 0 0 35px #464646, 0 0 40px #464646, 0 0 50px #464646,
      0 0 75px #464646;
  }
}
